
{% extends 'Back/base.html.twig' %}

{% block title %}Ajouter une airline{% endblock %}

{% block body %}

    <center>
        <h1 class=> Ajouter une airline  </h1>
    </center>

    <center>
        <div class="example-wrapper">
            {{ form_start(a,{attr:{novalidate:'novalidate'}}) }}
            <table>
                <tr>
                    <td>{{ form_label(a.nomairline,"Nom de airline:")}} </td>
                    <td>{{ form_widget(a.nomairline) }} {{ form_errors(a.nomairline) }}</td>
                </tr>

                <tr>
                    <td>{{ form_label(a.pays,"Pays")}} </td>
                    <td>{{ form_widget(a.pays) }} {{ form_errors(a.pays) }}</td>
                </tr>


                <tr>
                    <td>{{ form_label(a.stars,"stars")}} </td>
                    <td>{{ form_widget(a.stars) }} {{ form_errors(a.stars) }}</td>
                </tr>


            </table>



            {{ form_end(a) }}



        </div>
    </center>




{% endblock %}